{% extends "templates/panoptic_base.html" %}

{% block meta_block %}
{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block content %}
{% if settings.enable_cities %}
<section class="container border-b border-l border-r">
	<article class="w-full text-white border-r">
		<div class="py-5 mx-auto prose text-center prose-md md:py-8 lg:py-12">
			<h1>{{ title }}</h1>
			<p class="text-teal-blue-500">
				Published on {{ frappe.format_date(published_date) }}
				<span class="text-orange-500">—</span> {{ published_by }}
			</p>
		</div>
		{% if cover_image %}
		<div class="overflow-hidden border-t border-b h-96">
			<img src="{{ cover_image }}" style="filter: grayscale(1); object-fit: cover;">
		</div>
		{% endif %}
		<div class="px-5 py-5 mx-auto prose prose-md md:py-8 lg:py-12 md:px-0" style="max-width: 55rem;">
			{{ frappe.utils.md_to_html(content) }}
		</div>
	</article>
	<section class="gap-5 py-5 border-t md:gap-8 lg:gap-12 md:py-8 lg:py-12">
		<div class="px-5 mx-auto prose prose-md md:px-0" style="max-width: 55rem;">
			<h2 class="text-orange-500">
				Sign our petition calling for a ban on law enforcement use of facial recognition technology in India
			</h2>
			<p>
				Use of facial recognition technology has raised concerns not only in India but also abroad with various civil
				society organisations such as the American Civil Liberties Union, the Electronic Frontier Foundation, the
				Algorithmic Justice League and Amnesty International calling for a ban on the use of this technology. Calls
				for
				a total ban have been gaining momentum due to the fear that use of facial recognition by the police and
				security/intelligence agencies will not only lead to violation of the rights to privacy and freedom of speech
				and expression but also lead to human rights violations by helping to increase systemic bias against already
				marginalised communities. The impact on marginalised communities gains special importance for us locally due
				to
				the wide inequality and diversity present in our society.
			</p>
		</div>
		<div class="px-5 mx-auto md:px-0" style="max-width: 55rem;">
			<a class="inline-block px-5 py-3 mt-6 text-center text-white bg-orange-500 rounded-sm" target="_blank"
				rel="noopener noreferrer" href="/sign-the-petition">Sign the petition</a>
		</div>
	</section>
	<section class="gap-5 py-5 border-t md:gap-8 lg:gap-12 md:py-8 lg:py-12">
		<div class="px-5 mx-auto prose prose-md md:px-0" style="max-width: 55rem;">
			<h2 class="text-orange-500">
				We will Watch the Watchmen
			</h2>
			{{ frappe.utils.md_to_html(settings.donate_pitch) }}
		</div>
		<div class="px-5 mx-auto md:px-0" style="max-width: 55rem;">
			<a class="inline-block px-5 py-3 mt-6 text-center text-white bg-orange-500 rounded-sm" target="_blank"
				rel="noopener noreferrer" href="https://internetfreedom.in/donate">Donate
				Now</a>
			<div class="mt-4 text-teal-blue-300">
				Donated already? <a class="hover:underline" target="_blank" rel="noopener noreferrer"
					href="https://twitter.com/intent/tweet?text=I%20just%20donated%20to%20%40internetfreedom%20for%20%23ProjectPanoptic%20and%20you%20should%20as%20well.%0ATogether%20we%20can%20fight%20the%20growing%20threat%20of%20mass%20surveillance.&url={{ site_url }}">Ask
					your friends to donate as well.</a>
			</div>
		</div>
	</section>
	{% endif %}
</section>
{% endblock %}

{% block style %}
<style>
	@media (min-width: 768px) {
		iframe {
			max-width: 840px;
			min-height: 400px;
		}
	}

	@media (min-width: 900px) {
		iframe {
			max-width: 840px;
			height: 472px;
		}
	}

</style>
{% endblock %}
