<footer class="container">
	<div class="flex flex-wrap bg-orange-500 text-panoptic-blue-500 border-l border-r border-b border-orange">
		<a href="/column"
			class="md:w-1/3 w-full flex flex-col justify-between p-5 md:p-8 lg:p-12 border-r border-t border-orange hover:bg-orange-600">
			<div>
				<h2>Know More</h2>
				<p class="mt-8 text-orange-800">
					Read about important updates and our detailed analysis of FRT Projects which is being deployed in
					the country. The case studies will look at the background of the project, how many people it will
					affect and its scope and legality.
				</p>
			</div>
			<span class="text-white text-xl font-semibold mt-4">Go to Panoptic Column</span>
		</a>
		<a href="/sign-the-petition"
			class="md:w-1/3 w-full flex flex-col justify-between p-5 md:p-8 lg:p-12 border-r border-t border-orange hover:bg-orange-600">
			<div>
				<h2>Get Involved</h2>
				<p class="mt-8 text-orange-800">The petition is for calling on/asking the government to immediately put
					a moratorium on the development and use of FRT by government authorities.</p>
			</div>
			<span class="text-white text-xl font-semibold mt-4">Sign the petition</span>
		</a>
		<div class="md:w-1/3 w-full border-r border-t border-orange flex flex-col justify-between">
			<div class="p-5 md:p-8 lg:p-12">
				<h2>Spread the Message</h2>
				<p class="mt-8 text-orange-800">Help us raise awareness about the cause among everyone. And, you can
					start
					by sharing this website with your peers :)</p>
			</div>
			<div class="flex flex-wrap">
				<a target="_blank" rel="noopener noreferrer" href="{{ settings.youtube }}"
					class="flex justify-center w-1/3 p-5 md:p-8 lg:p-12 hover:bg-orange-600 border-r border-t border-orange">
					<img class="h-10" src="/assets/panoptic/images/youtube.svg">
				</a>
				<a target="_blank" rel="noopener noreferrer" href="{{ settings.twitter }}"
					class="flex justify-center w-1/3 p-5 md:p-8 lg:p-12 hover:bg-orange-600 border-r border-t border-orange">
					<img class="h-10" src="/assets/panoptic/images/twitter.svg">
				</a>
				<a target="_blank" rel="noopener noreferrer" href="{{ settings.instagram }}"
					class="flex justify-center w-1/3 p-5 md:p-8 lg:p-12 hover:bg-orange-600 border-t border-orange">
					<img class="h-10" src="/assets/panoptic/images/instagram.svg">
				</a>
			</div>
		</div>
	</div>
	<div class="flex flex-wrap justify-between p-5 md:p-8 lg:p-12 border bg-panoptic-blue-500">
		<div class="md:w-3/4 w-full text-sm flex flex-col justify-between">
			<div>
				<p>A public interest community project | <a class="text-orange-500 hover:underline"
						href="mailto:panoptic@internetfreedom.in ">panoptic@internetfreedom.in</a> | <a
						class="text-orange-500 hover:underline" href="/privacy-policy">privacy policy</a></p>
				<p>All contents licensed under CC-BY unless stated otherwise.</p>
			</div>
			<div class="mt-6 md:mt-4">
				Built and maintained by the team at <a target="_blank" rel="noopener noreferrer"
					class="text-orange-500 hover:underline" href="https://frappe.io">Frappe</a>.
				<br>
				Designed by <a target="_blank" rel="noopener noreferrer" class="text-orange-500 hover:underline"
					href="https://shobhitkatikia.com/">Shobhit Katikia</a>,
				supported by <a target="_blank" rel="noopener noreferrer" class="text-orange-500 hover:underline"
					href="https://www.datakind.org/chapters/datakind-blr">DataKind Bangalore</a>.
			</div>
		</div>
		<div class="my-6 md:my-4">
			<a href="https://internetfreedom.in">
				<img class="h-24" src="/assets/panoptic/images/iff-wide.png">
			</a>
		</div>
	</div>
</footer>