<nav class="items-center bg-teal-blue-500 flex-wrap border container">
	<div class="flex">
		<a href="/" class="inline-flex items-center border-r py-5 px-5 md:px-8">
			<img class="mr-0 md:mr-8 h-5 md:h-12" src="/assets/panoptic/images/panoptic.svg">
			<div class="hidden md:block">Project<br>Panoptic</div>
		</a>
		<button
			class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
			data-target="#navigation">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
			</svg>
		</button>
		<div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto text-orange-500 font-medium"
			id="navigation">
			<div
				class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto">
				<a href="/" class="nav-link {{ 'active' if pathname=='index' }}">
					<span>Home</span>
				</a>
				<a href="/report" class="nav-link {{ 'active' if pathname=='report' }}">
					<span>Report an FRT System</span>
				</a>
				<a href="/petitions" class="nav-link {{ 'active' if pathname=='petitions' }}">
					<span>Petitions</span>
				</a>
				<a href="/case-study" class="nav-link {{ 'active' if pathname=='case-study' }}">
					<span>Case Studies</span>
				</a>
				<a href="/rti" class="nav-link {{ 'active' if pathname=='rti' }}">
					<span>RTIs</span>
				</a>
				<a href="/donate" class="nav-link {{ 'active' if pathname=='donate' }}">
					<span>Donate</span>
				</a>
			</div>
		</div>
	</div>
</nav>
<script>
	$(document).ready(function () {
		$(".nav-toggler").each(function (_, navToggler) {
			var target = $(navToggler).data("target");
			$(navToggler).on("click", function () {
				$(target).animate({
					height: "toggle"
				});
			});
		});
	});
</script>