<div class="flex flex-wrap justify-between border-l border-r border-b">
	<div class="w-full md:w-2/3 px-12 py-6">
		<h1 class="truncate text-2xl md:text-3xl text-orange-500">{{ title }}</h1>
		{% if subtitle %}
			<p>{{ subtitle }}</p>
		{% endif %}
	</div>
	{% if button_label %}
	<button id="{{ button_id or 'titleButton' }}"
		class="w-full md:w-1/3 block h-100 px-8 items-center text-orange-500 font-bold hover:bg-teal-blue-600 border-t md:border-t-0 md:border-l md:py-0 py-4">
		{{ button_label }}
	</button>
	{% endif %}
</div>