{% extends "templates/panoptic_base.html" %}

{% block title %}Panoptic - Donate{% endblock %}

{% block meta_block %}
{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block content %}
<section class="container border-b">
	<div class="border-r border-l p-12">
		<div class="max-w-lg">
			<div class="prose">
				<h1 class="text-orange-500">
					Donate to help our cause
				</h1>
				{{ frappe.utils.md_to_html(settings.donate_pitch) }}
			</div>
			<a class="mt-6 inline-block text-center px-5 py-3 rounded-sm bg-orange-500" target="_blank"
				rel="noopener noreferrer" href="https://internetfreedom.in/donate">Donate
				Now</a>
		</div>
	</div>
</section>
{% endblock %}