{% extends "templates/panoptic_base.html" %}

{% block title %}Donate - Case Studies{% endblock %}

{% block meta_block %}
{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block content %}
<section class="container border-b">
	<div class="border-r border-l p-12">
		<div class="max-w-lg">
			<h1 class="text-orange-500">
				Donate to help our cause
			</h1>
			<p class="mt-3">
				Project Panoptic has been developed with the help of a group of civic-minded volunteers. Through their
				efforts and willingness to donate their time to this cause, we have been able to create this platform to
				showcase how facial recognition is the next big threat to the privacy of Indian citizens. However, to
				ensure that we carry this work forward and also to further develop and maintain this platform, we need
				your help.
			</p>
			<p class="mt-3">
				If you, like us, are concerned about the growing threat of mass surveillance and want to support the
				work that we are doing, help Team Project Panoptic and the Internet Freedom Foundation in continuing
				this work by donating to us. Your donations will help us in continuously upgrading our database of FRT
				projects as well as ensuring that this platform showcases all these projects in as much detail as
				possible.
			</p>
			<a class="mt-6 inline-block text-center px-5 py-3 rounded-sm bg-orange-500" target="_blank"
				rel="noopener noreferrer" href="https://internetfreedom.in/donate">Donate
				Now</a>
		</div>
	</div>
</section>
{% endblock %}