{% extends "templates/panoptic_base.html" %}

{% block title %}Panoptic - FRT Tracker{% endblock %}

{% block script %}
<script>
	window.state_wise_frt = {{ state_wise_frt }};
	window.state_routes = {{ state_routes }};
	window.current_state = null;
	document.addEventListener('DOMContentLoaded', () => {
		let current_view = "Map"
		let toggle_button = document.getElementById("view-states-list");
		let map = document.getElementById("chartdiv");
		let state = document.getElementById("state-list");
		toggle_button.onclick = () => {
			if (current_view == "Map") {
				// Hide Map
				map.classList.add("hidden");

				// Show States
				state.classList.remove("hidden");
				current_view = "State";
				toggle_button.innerHTML = "View Map";
			} else if (current_view == "State") {
				// Hide States
				state.classList.add("hidden");

				// Show Map
				map.classList.remove("hidden");
				toggle_button.innerHTML = "View States List";
				current_view = "Map";
			}
		};
	})
</script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
<script src="https://cdn.amcharts.com/lib/4/geodata/data/countries2.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="/assets/panoptic/js/india_map.js"></script>
{% endblock %}

{% block content %}
<section class="container">
	{{ web_block(
		"Title Section",
		values={
			"title": "<span class='text-white'>Facial Recognition Systems in</span> India",
			"button_label": "View States List",
			"button_id": "view-states-list",
		},
		add_container=0,
		add_top_padding=0,
		add_bottom_padding=0,
	) }}
	<div class="flex flex-wrap">
		<div class="w-full md:w-2/3 border-r border-l border-b md:border-b-0">
			<!-- <div class="p-2 text-right">
				<a class="text-orange-500 hover:underline" href="/central">View Central Systems</a>
			</div> -->
			<div id="chartdiv" class="h-full block p-5 md:p-12 -mb-12" style="min-height: 400px;">
			</div>
			<div id="state-list" class="flex flex-wrap hidden">
				{% for state, route in state_name_routes.items() %}
				<a href="/{{route}}" class="hover:bg-teal-blue-600 w-full md:w-1/3 flex items-center border-r border-b">
					<div class="m-6 truncate">
						{{ state }}
					</div>
				</a>
				{% endfor %}
			</div>
			<!-- <img style="max-height: 600px;" src="/assets/panoptic/images/demo-map.svg"> -->
		</div>
		<div class="w-full md:w-1/3 border-r flex flex-col justify-between">
			<a href="/central"
				class="w-full block h-100 px-8 py-3 text-centre text-orange-500 font-bold hover:bg-teal-blue-600 border-l md:border-l-0 border-b py-5">
				View Central Level Projects
			</a>
			{{ web_block(
				"Stats Column",
				values={
					"stats": {
						"FRT Systems Installed": total_frt,
						"RTIs Filed": total_rtis,
						"Total Financial Outlay": total_cost
					}
				},
				add_container=0,
				add_top_padding=0,
				add_bottom_padding=0,
			) }}
			<div class="px-8 py-5 bg-panoptic-blue-500">
				<h2 class="text-white">
					Facial Recognition Systems Tracker
				</h2>
				<p class="mt-3">
					Browse through our breathing database of all the FRT systems installed in India by different
					authorities.
				</p>
				<div class="flex my-4 pr-12 flex items-center">
					Hover over the states to dig deeper.
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container bg-panoptic-blue-500 border">
	<div class="max-w-4xl flex flex-wrap mx-auto p-5 md:py-12">
		<div class="w-full md:w-1/3 pr-12">
			<h1 class="text-3xl leading-tight md:leading-snug md:text-4xl text-orange-500">Why are we talking about
				Facial Recognition?
			</h1>
		</div>
		<div class="w-full md:w-2/3 prose prose-md text-white mt-5 md:mt-0">
			<p>
				Face recognition is a method of identifying or verifying the identity of an individual using their face.
				Face recognition systems can be used to identify people in photos, video, or in real-time. Face
				recognition systems use computer algorithms to pick out specific, distinctive details about a person’s
				face. These details, such as distance between the eyes or shape of the chin, are then converted into a
				mathematical representation and compared to data on other faces collected in a face recognition
				database. The data about a particular face is often called a face template and is distinct from a
				photograph because it’s designed to only include certain details that can be used to distinguish one
				face from another.
			</p>
			<p>
				Some face recognition systems, instead of positively identifying an unknown person, are designed to
				calculate a probability match score between the unknown person and specific face templates stored in the
				database. These systems will offer up several potential matches, ranked in order of likelihood of
				correct identification, instead of just returning a single result.
			</p>
			<p>
				Source: <a
					href="https://www.eff.org/pages/face-recognition">https://www.eff.org/pages/face-recognition</a>
			</p>
		</div>
	</div>
</section>
{% endblock %}