{% extends "templates/panoptic_base.html" %}

{% block title %}Panoptic - FRT Tracker{% endblock %}

{% block body %}
<section class="container border-b border-collapse">
	<div class="flex">
		<div class="w-3/5 border-r border-l">
			<div class="flex justify-between items-center h-12 border-b">
				<h2 class="px-5">Interactive Map</h2>
				<a href="/states"
					class="border-l px-8 h-full flex items-center text-orange-500 font-bold hover:bg-teal-blue-600">
					View States List
				</a>
			</div>
			<div class="p-12 flex justify-center">
				<img style="max-height: 600px;" src="/assets/panoptic/images/demo-map.svg">
			</div>
		</div>
		<div class="w-2/5 border-r flex flex-col justify-between">
			<div class="p-12 px-24">
				<h1>India</h1>
				<div class="flex justify-between mt-6">
					<p>Total number of FRTs installed:</p>
					<p class="font-bold">{{ total_frt }}</p>
				</div>
				<div class="flex justify-between mt-6">
					<p>National FRT Systems:</p>
					<p class="font-bold">{{ total_frs }}</p>
				</div>
				<div class="flex justify-between mt-6">
					<p>Authorities using FRT:</p>
					<p class="font-bold">{{ total_authorities }}</p>
				</div>
			</div>
			<div class="py-12 px-24 bg-panoptic-blue-500 border-t">
				<h1 class="text-white">
					Facial Recognition Systems Tracker
				</h1>
				<p class="mt-5">
					Browse through our breathing database of all the FRT systems installed in India by different
					authorities.
				</p>
				<div class="flex mt-12 pr-12 flex items-center">
					<img class="h-10 mr-5" src="/assets/panoptic/images/click.svg">
					Hover over the states to dig deeper.
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container bg-panoptic-blue-500 border-l border-r border-b">
	<div class="max-w-4xl flex mx-auto py-12">
		<div class="w-1/3 pr-12">
			<h1 class="text-5xl text-orange-500">What is facial recognition?</h1>
		</div>
		<div class="w-2/3 prose prose-md text-white">
			<p>
				Face recognition is a method of identifying or verifying the identity of an individual using their face.
				Face recognition systems can be used to identify people in photos, video, or in real-time. Face
				recognition systems use computer algorithms to pick out specific, distinctive details about a person’s
				face. These details, such as distance between the eyes or shape of the chin, are then converted into a
				mathematical representation and compared to data on other faces collected in a face recognition
				database. The data about a particular face is often called a face template and is distinct from a
				photograph because it’s designed to only include certain details that can be used to distinguish one
				face from another.
			</p>
			<p>
				Some face recognition systems, instead of positively identifying an unknown person, are designed to
				calculate a probability match score between the unknown person and specific face templates stored in the
				database. These systems will offer up several potential matches, ranked in order of likelihood of
				correct identification, instead of just returning a single result.
			</p>
			<p>
				Source: <a
					href="https://www.eff.org/pages/face-recognition">https://www.eff.org/pages/face-recognition</a>
			</p>
		</div>
	</div>
</section>
{% endblock %}