<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{% block title %} {{ title | striptags }} {% endblock %}</title>

	<link rel="manifest" href="/manifest.json">

	{% block head_includes %}{% endblock %}

	<!-- Meta tags for SEO and Social Media -->

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Project panoptic">
	<meta itemprop="description" content="Keeping Facial Recognition Technology in Check">

	{% block meta_block %}
	<!-- Twitter Card data -->
	<meta name="title" content="Project Panoptic">
	<meta name="description" content="Keeping Facial Recognition Tech in Check">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Project Panoptic">
	<meta name="twitter:description" content="Keeping Facial Recognition Tech in Check">
	<meta name="twitter:creator" content="@internetfreedom">
	<meta name="twitter:card" content="summary_large_image">

	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="{{ frappe.utils.get_url() }}/assets/panoptic/images/meta/generic.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="Panoptic" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ frappe.utils.get_url() }}" />
	<meta property="og:image" content="{{ frappe.utils.get_url() }}/assets/panoptic/images/meta/generic.png" />
	<meta property="og:image:width" content="600" />
	<meta property="og:image:height" content="315" />
	<meta property="og:description" content="Keeping Facial Recognition Tech in Check" />
	<meta property="og:site_name" content="Panoptic" />
	{% endblock %}

	<!-- End of Meta Tags-->
	<link href="/assets/panoptic/css/panoptic.css?ver=c82ea81" rel="stylesheet">
	<!-- <link href="/assets/panoptic/css/icon.css" rel="stylesheet"> -->
	<link rel="canonical" href="{{ frappe.utils.get_url() }}" />

	<!-- favicons-->
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/panoptic/images/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/assets/panoptic/images/icons/android-chrome-192x192.png">
	<link rel="shortcut icon" href="/assets/panoptic/images/icons/favicon.ico">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<meta name="google-site-verification" content="SaJLy1bI3kmUfFgO4-ODGosoPc0G-PaYIneGPyViuOo" />

	<script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function (fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
		window.socketio_port = {{ frappe.socketio_port }};
	</script>
</head>

<body class="bg-teal-blue-500 font-body"
	frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}"
	data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown"
	{% endif -%}>
	{% include "templates/includes/navbar.html" %}
	{% block content %}
	{{ content }}
	{% endblock %}
	{% include "templates/includes/footer.html" %}
	<!-- csrf_token -->
	{% block script %} {% endblock %}
</body>
	
{%- for link in web_include_js %}
<script type="text/javascript" src="{{ link | abs_url }}"></script>
{%- endfor -%}

</html>
