{% extends "templates/panoptic_base.html" %}

{% block content %}
<section class="container border-b">
	{{ web_block(
		"Title Section",
		values={
			"title": authority,
			"subtitle": "{0}, Last updated on {1}".format(name, frappe.format_date(modified))
		},
		add_container=0,
		add_top_padding=0,
		add_bottom_padding=0,
	) }}
	<!-- <div class="border-l border-r bg-panoptic-blue-500">
		{% if amount_spent %}
		<div class="px-4 md:px-8 py-5 border-l md:border-l-0 border-b">
			<p class="uppercase font-semibold tracking-wider text-sm text-orange-500">Amount Spent</p>
			<p class="text-5xl font-bold text-white">{{ frappe.utils.fmt_money(amount_spent, 0, "INR") }}</p>
		</div>
		{% endif %}
	</div> -->
	<div class="flex flex-wrap mx-auto bg-panoptic-blue-500 border-l border-r p-5 md:p-12">
		<div class="w-full md:w-1/3 pr-12">
			<h3 class="text-orange-500">Overview</h3>
			<div class="mt-4">
				<div class="mb-2">
					Place: <b>{{ district_name }}</b>
				</div>
				<div class="mb-2">
					Purpose: <b>{{ purpose }}</b>
				</div>
				<div class="mb-2">
					Technology Partner: <b>{{ technology_provider or "Not Available" }}</b>
				</div>
				<div class="mb-2">
					Date of Tender Publishing: <b>{{ tender_publish_date or "Not Available" }}</b>
				</div>
				<div class="mb-2">
					Date of Reported Use: <b>{{ reported_use_date or "Not Available" }}</b>
				</div>
				<div class="mb-2">
					Status: <b>{{ status or "Not Available" }}</b>
				</div>
				<div class="mb-2">
					Storage Duration: <b>{{ storage_duration }}</b>
				</div>
				<div class="mb-2">
					Prescribed Standards: <b>{{ prescribed_technical_standards }}</b>
				</div>
			</div>
		</div>
		{% if rti|length or legal_basis|length or frt_legal_basis|length or linked|length %}
		<div class="w-full md:w-1/3 pr-12 -mt-8">
			{% if rti|length %}
			<div class="mt-8">
				<h3 class="text-orange-500">Right to Information</h3>
				<div class="mt-4">
					{% for application in rti_list %}
					<div class="mb-2">
						<a class="underline" href="/{{ application.route }}">{{ application.title }}</a>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if case_studies|length %}
			<div class="mt-8">
				<h3 class="text-orange-500">Case Studies</h3>
				<div class="mt-4">
					{% for study in case_studies %}
					<div class="mb-2">
						<a class="underline" href="/{{ study.route }}">{{ study.title }}</a>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if legal_basis|length or frt_legal_basis|length %}
			<div class="mt-8">
				<h3 class="text-orange-500">Legal Basis</h3>
				<div class="mt-4">
					{% for basis in frt_legal_basis %}
					<div class="mb-2">
						{% if basis.url %}
						<a class="underline" target="_blank" rel="noopener noreferrer"
							href="{{ basis.url }}">{{ basis.title }}</a>
						{% else %}
						{{ basis.title }}
						{% endif %}
					</div>
					{% endfor %}
					{% for case in legal_basis %}
					<div class="mb-2">
						{{ case.title }}, {{ case.year }}
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if linked|length %}
			<div class="mt-8">
				<h3 class="text-orange-500">Linked Database</h3>
				<div class="mt-4">
					{% for db in linked %}
					<div class="mb-2">
						{{ db.linked_database }}
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>
		{% endif %}
		{% if links|length or government_link %}
		<div class="w-full md:w-1/3 pr-12 -mt-8">
			{% if government_link and government_link_title %}
			<div class="mt-8">
				<h3 class="text-orange-500">Government Link</h3>
				<div class="mt-4">
					<a class="underline" target="_blank" rel="noopener noreferrer"
						href="{{ government_link }}">{{ government_link_title }}</a>
				</div>
			</div>
			{% endif %}

			{% if news_links %}
			<div class="mt-8">
				<h3 class="text-orange-500">Media Links</h3>
				<div class="mt-4">
					{% for link in links %}
					{% if link.type == "News Article" %}
					<div class="mb-2">
						<a class="underline" href="{{ link.link }}">{{ link.title }}</a>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if other_links %}
			<div class="mt-8">
				<h3 class="text-orange-500">Other Links</h3>
				<div class="mt-4">
					{% for link in links %}
					{% if link.type != "News Article" %}
					<div class="mb-2">
						<a class="underline" href="{{ link.link }}">{{ link.title }}</a>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>
		{% endif %}
	</div>
	</div>
</section>
{% if frts|length %}
<section class="container bg-teal-blue-500 border-l border-r border-b flex flex-wrap">
	<div class="bg-panoptic-blue-500 border-b w-full px-8 py-5 flex justify-between">
		<div class="font-bold">Other FRTs around {{ district_name }}</div>
		<a href="/{{ state_route }}" class="text-aqua-blue-500">View All in {{ state }}</a>
	</div>
	{% for frt in frts[:3] %}
	<a href="/{{ frt.route }}" class="w-full md:w-1/3 p-8 border-r border-b hover:bg-teal-blue-600">
		<h2>{{ frt.authority }}</h2>
		<div class="mt-3 mb-3">
			<p>{{ frt.technology_provider }}</p>
			<p>{{ frt.district_name }}</p>
			<p>ID: {{ frt.name }}</p>
		</div>
	</a>
	{% endfor %}
</section>
{% endif %}
{% endblock %}