@tailwind base;
@tailwind components;
@tailwind utilities;

/* work-sans-100 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 100;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-100.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-100.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-300 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 300;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-300.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-300.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-200 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 200;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-200.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-200.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-regular - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-regular.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-regular.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-500 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 500;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-500.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-500.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-600 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-600.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-600.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-700 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-700.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-700.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-800 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 800;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-800.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-800.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-900 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 900;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-900.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-900.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-italic - latin */
@font-face {
	font-family: "Work Sans";
	font-style: italic;
	font-weight: 400;
	src: local(""),
		url("/assets/panoptic/fonts/work-sans-v8-latin-italic.woff2")
			format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/assets/panoptic/fonts/work-sans-v8-latin-italic.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.border-around {
	margin: -1px;
}

.toc-html {
	margin-left: -15px;
}

.toc-html ul {
	margin-left: 20px;
}

@layer components {
	.nav-link {
		@apply w-full px-3 py-2 rounded items-center justify-center;
	}

	.nav-link:hover {
		@apply text-orange-500;
	}

	.nav-link.active {
		@apply text-aqua-blue-500;
	}

	@screen lg {
		.nav-link {
			@apply inline-flex w-auto;
		}
	}
}

@layer base {
	html {
		@apply text-white;
		font-family: "Work Sans", sans-serif;
	}

	nav {
		font-family: "Work Sans", sans-serif;
	}

	h1 {
		@apply text-4xl font-bold;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	h3 {
		@apply text-xl font-bold;
	}
}

[aria-labelledby="id-79-title"] {
	display: none;
}
