{% extends "templates/panoptic_base.html" %}

{% block title %}Panoptic - Case Studies{% endblock %}

{% block meta_block %}
{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block content %}
<section class="container border-b">
	{{ web_block(
		"Title Section",
		values={
			"title": "Updates and Case Studies",
			"subtitle": " Read our detailed analysis of every FRT Project which is being deployed in the country. The case study will look at the background of the project, how many people it will affect and its scope and legality."
		},
		add_container=0,
		add_top_padding=0,
		add_bottom_padding=0,
	) }}
	<div class="flex flex-wrap border-r border-l">
		{% for case in case_studies %}
			{{ web_block(
				"Article List Item",
				values=case,
				add_container=0,
				add_top_padding=0,
				add_bottom_padding=0,
			) }}
		{% endfor %}
	</div>
</section>
{% endblock %}