{% extends "templates/panoptic_base.html" %}

{% block content %}
<section class="container border-b border-r border-l border-collapse flex">
	<article class="text-white border-r w-full md:w-2/3 p-12">
		<div class="prose prose-md">
			<h1>{{ title }}</h1>
			{{ frappe.utils.md_to_html(application_body) }}
		</div>
	</article>
	<div class="p-12 hidden md:block w-full md:w-1/3 text-teal-blue-300">
		<div class="mb-12">
			<h3>Details</h3>
			<div class="mt-4">
				<div class="mt-2">
					RTI Status: <b>{{ status }}</b>
				</div>
				<div class="mt-2">
					RTI Number: <b>{{ rti_number }}</b>
				</div>
				<div class="mt-2">
					RTI Filed on: <b>{{ frappe.format_date(filed_on) }}</b>
				</div>
				{% if application_attachment %}
				<div class="mt-4">
					<a class="text-orange-500 hover:underline" href="{{ application_attachment }}">Download Application
						Copy</a>
				</div>
				{% endif %}
			</div>
		</div>

		{% if status == "Response Received" and response_attachment %}
		<div class="mb-12">
			<h3>Response</h3>
			<div class="mt-4">
				<div class="mt-2">
					Received On: <b>{{ frappe.format_date(response_received_on) }}</b>
				</div>
				<div class="mt-2">
					<a class="text-orange-500 hover:underline" href="{{ response_attachment }}">Download Response</a>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="mb-12">
			<h3>RTI Filed By</h3>
			<div class="flex mt-4 items-center">
				{% set member = frappe.get_doc("Team Member", published_by) %}
				<img src="{{ member.avatar }}" class="h-10 w-10 mr-2 rounded-full border-2"
					alt="{{ member.full_name }}">
				<div>
					<h4 class="text-lg text-orange-500">{{ member.full_name }}</h4>
					{% if member.role %}
					<p>{{ member.role[:80] }}</p>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="">
			<a href="https://rti.gov.in/" target="_blank" rel="noopener noreferrer" class="hover:underline">Learn more
				about RTI</a>
		</div>
	</div>
</section>
{% endblock %}