{% extends "templates/panoptic_base.html" %}

{% block title %}Panoptic - Right to Information{% endblock %}

{% block meta_block %}
{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block content %}
<section class="container border-b">
	{{ web_block(
		"Title Section",
		values={
			"title": "RTIs Filed",
		},
		add_container=0,
		add_top_padding=0,
		add_bottom_padding=0,
	) }}
	<div class="flex flex-wrap border-r border-l">
		{% for rti in rtis %}
			{{ web_block(
				"Article List Item",
				values=dict(
					route=rti.route,
					title=rti.title,
					published_date=rti.filed_on,
					member_doc=rti.member_doc,
					description="""
						<span class='text-teal-blue-300'>Status:</span> {0}<br><span class='text-teal-blue-300'>Filed On:</span> {1}
					""".format(rti.status, frappe.utils.format_date(rti.filed_on))
				),
				add_container=0,
				add_top_padding=0,
				add_bottom_padding=0,
			) }}
		{% endfor %}
	</div>
</section>
{% endblock %}